---
import Logo from '@components/logo.astro';
import ScrollProgressValue from '@components/scroll-progress-value.astro';
---

<header class="container header">
  <Logo />

  <ScrollProgressValue />

  <button>Click here!</button>
</header>

<style>
  header {
    position: fixed;
    inset-inline: 0;
    top: calc(1.75rem + var(--scroll-progress-bar-height));

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
