---
import Container from '@components/container.astro';
import Logo from '@components/logo.astro';
import ScrollProgressValue from '@components/scroll-progress-value.astro';
---

<Container as="header" class="page-header">
  <Logo />

  <ScrollProgressValue />

  <button>Click here!</button>
</Container>

<style>
  header {
    position: fixed;
    inset-inline: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
