<a  href="/" class="leading-none uppercase font-bold">La piscine</a>

<style>
  a {
    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;

    background-color: var(--color-black);
    color: var(--color-white);

    padding: 0.75em 1em;
    border-radius: 9999px;

    transform: rotate(8deg);
  }
</style>
